[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-colors-solorized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-rooter"]
	path = vim/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-rust"]
	path = vim/bundle/vim-rust
	url = git://github.com/bryanjswift/vim-rust.git
[submodule "vim/bundle/ctrlp-vim"]
	path = vim/bundle/ctrlp-vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git://github.com/bryanjswift/vim-puppet.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = git://github.com/sheerun/vim-polyglot.git
[submodule "vim/bundle/vim-lightline"]
	path = vim/bundle/vim-lightline
	url = git://github.com/itchyny/lightline.vim.git
[submodule "vim/bundle/vim-gradle"]
	path = vim/bundle/vim-gradle
	url = git://github.com/tfnico/vim-gradle.git
[submodule "vim/bundle/vim-reason-plus"]
	path = vim/bundle/vim-reason-plus
	url = git@github.com:reasonml-editor/vim-reason-plus.git
