[submodule "async-vim"]
	path = vim/pack/main/start/async-vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "asyncomplete-lsp"]
	path = vim/pack/main/start/asyncomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "asyncomplete-vim"]
	path = vim/pack/main/start/asyncomplete-vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "fzf"]
	path = vim/pack/main/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "fzf-vim"]
	path = vim/pack/main/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim-colors-solarized"]
	path = vim/pack/main/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-lightline"]
	path = vim/pack/main/start/vim-lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim-lsp"]
	path = vim/pack/main/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim-polyglot"]
	path = vim/pack/main/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim-rooter"]
	path = vim/pack/main/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim-surround"]
	path = vim/pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-vinegar"]
	path = vim/pack/main/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vista-vim"]
	path = vim/pack/main/start/vista-vim
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "vim-lsp-settings"]
	path = vim/pack/main/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "vim/pack/main/start/plantuml-syntax"]
	path = vim/pack/main/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "vim/pack/main/start/vim-dbml"]
	path = vim/pack/main/start/vim-dbml
	url = https://github.com/jidn/vim-dbml.git
